[submodule "taichi-splatting"]
	path = taichi-splatting
	url = git@github.com:uc-vision/taichi-splatting.git
[submodule "splat-viewer"]
	path = splat-viewer
	url = git@github.com:uc-vision/splat-viewer.git
[submodule "splat-transfer"]
	path = splat-transfer
	url = git@github.com:uc-vision/splat-transfer.git
[submodule "splat-trainer"]
	branch = multirun_test
